.cart
 .cart_container
  .shopping_card
   h3.title Shopping Cart

   .items

   hr
   .all_coust
    h5 all cost
    p.allcust 
  .card_details
   h3.title card details
   .cridt_card
    p Master card
    .card_deatle
     .col
      p ****
     .col
      p ****
     .col
      p ****
     .col
      p ****
    .other
      .uer
       p 1/12
       h5 card user
      h1 Visa

   .user_card
    h3 Enter the card information
    .name
     p name on card
     .inputs
      input(type="text" value="name")
    .numbers 
     p card Number
     .inputs
        input(type="text" value="0000")
        input(type="text" value="0000")
        input(type="text" value="0000")
        input(type="text" value="0000")
    .date 
     p Expiration Date
     .inputs
        input(type="text", name="" value="mm")
        input(type="text" value="yyyy")
        input(type="text" value="cvv")
    button Check Out