.store
  h1.title Store
  .container
      .row
        .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-6
          .card 
            .card-title title
            .card-body body  
            .card-img 
              img(src="../assts/images/dashes/1.jpg", alt="")
        .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-6
          .card 
            .card-title title
            .card-body body
            .card-img 
              img(src="../assts/images/dashes/1.jpg", alt="")
